<section class="flex flex-col gap-8">
  <div class="text-center">
    <h1 class="text-5xl font-extrabold">
      {{ carFullName }} <span class="font-thin">({{ car.year }})</span>
    </h1>
  </div>
  <div class="flex flex-col items-center">
    <h2 class="text-2xl font-bold">🔧 Add service</h2>
    <form
      [formGroup]="addServiceForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-2"
    >
      <label>
        <div class="label">
          <span class="label-text">Parts</span>
        </div>
        <input
          id="parts"
          type="text"
          placeholder="Type here"
          class="input input-bordered w-96"
          formControlName="parts"
        />
      </label>
      <label>
        <div class="label">
          <span class="label-text">Cost ($)</span>
        </div>
        <input
          id="cost"
          type="number"
          placeholder="Type here"
          class="input input-bordered w-96"
          formControlName="cost"
        />
      </label>
      <button [disabled]="!addServiceForm.valid" class="btn w-96">
        Submit
      </button>
    </form>
  </div>
  <div class="pt-4">
    <h2 class="text-2xl font-bold">🗃️ Services</h2>
    <div *ngIf="car.services.length === 0" class="font-thin">
      No serices logged yet.
    </div>
    <div *ngIf="car.services.length > 0" class="">
      <table class="table">
        <thead>
          <tr>
            <th>Parts</th>
            <th>Cost</th>
            <th>Date of service</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of car.services">
            <td>{{ service.parts }}</td>
            <td>${{ service.cost }}</td>
            <td>
              {{ service.date | date : "short" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
