<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{ car.brand }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.year }}</td>
        <td class="flex gap-1">
          <a [routerLink]="['/car', car.id]" class="btn btn-outline btn-sm"
            >Details</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
